@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

p{
  padding: 5px;
}

/* Logo Marca */
.logomarca{
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption {
    display: none;
}

body{
  background: linear-gradient(45deg, #6095f8 0%, #cdffff 100%);
  background-size: 1000% 1000%;
  animation: backgroundTransition 8s ease-in-out infinite;

}

.container_forms {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 100vh;
  font-size: 20px;
}

/* Landing Page - Tela Bem-Vindo */
.landing_page{

    height: 100vh;
    width: 100%;
    color: #FFFFFF;
    font-size: 20px;


    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

/* Animação do Background */
@keyframes backgroundTransition {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

/* Formulario Cadastro */
aside, forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  background-color: #FFFFFF;
  color: #6095f8;
  border-radius: 30px;
  padding: 25px;
}

aside {
  width: 400px;
  height: 350px;
}

.section_form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_cadastro, .form_login{
  width: 500px;
  height: 300px;

  margin: 10px;
  padding: 10px;
}

button{
  width: 250px;
  height: 35px;
  font-size: 15px;

  font-weight: 700;
  letter-spacing: 1px;
  color: #FFFFFF;
  background-color: #6095f8;

  box-shadow: 2px 5px 10px #cdcdcd;
  border-radius: 50px;
  border: 0px solid;
}

button:hover, input:hover {
  scale: 1.1;
  background-color: linear-gradient(45deg, #6095f8 0%, #cdffff 100%);

}

.input_login, .input_cadastro {
  margin: 10px;
  font-size: 15px;

  width: 250px;
  height: 35px;
  font-size: 15px;

  font-weight: 700;
  letter-spacing: 1px;
  color: #FFFFFF;
  background-color: #cf90ff;

  box-shadow: 2px 5px 10px #cdcdcd;
  border-radius: 50px;
  border: 0px solid;
}